<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>投稿画面</title>
    <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="/assets/stylesheets/_form.scss">
  </head>
  <body>
    <div class="container">
      <%= form_with(model: tweet, local: true,url: choose_new_or_edit) do |form| %>
        <% if tweet.errors.any? %>
          <div id="error_explanation">
            <h2><%= tweet.errors.count %> 件のエラーがあります。</h2>
            <ul>
            <% tweet.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= form.label :content, class:'field' %>
          <%= form.text_area :content, class:'field' %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>

  </body>
</html>
