<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>一覧画面</title>
    <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="/assets/stylesheets/index.scss">
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <h1 class="tweet">Tweets</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @tweets.each do |tweet| %>
          <tr>
            <td><%= tweet.content %></td>
            <td><%= link_to '編集', edit_tweet_path(tweet) %></td>
            <td><%= link_to '削除', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Tweet', new_tweet_path %>
  </body>
</html>
